* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    color: #EEEEEE;
    font-family: Verdana, sans-serif;
}

body{
    
    background-color: #222831;
    /* background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover; */
}

.container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #31363F;
    text-align: center;
    max-width: 600px;
    width: 70%;
    border-radius: 8px;
}

.icon {
    border-radius: 50%;
    width: 200px;
    margin: 40px;
    vertical-align: middle;
    box-shadow: 0px 0px 50px rgb(85, 122, 124);
}

h1 {
    /* background-color: rgb(77, 77, 77); */
    font-size: 40px;
    padding: 20px;
    /* border-bottom: #EEEEEE double 10px; */
}

.socials-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}

a{
    color: #EEEEEE;
    font-size: 18px;
}

a:link,
a:visited {
    background-color: #557a7c;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: #76ABAE;
}

a[href="https://github.com/digi-wulf"]:link,
a[href="https://github.com/digi-wulf"]:visited {
    background-color: rgb(23, 105, 7);
}

a[href="https://github.com/digi-wulf"]:hover,
a[href="https://github.com/digi-wulf"]:active {
    background-color: rgb(38, 168, 12);
}

p {
    /* background-color: gray; */
    padding: 34px;
    /* margin: 10px; */
    text-align: justify;
    font-size: 18px;
}

@media screen and (max-width: 700px) {
    .content {
        width: 100%;
    }

    .icon {
        width: 70%;
        padding: 0px 40px 40px 40px;
    }
}